* {
    user-select: none;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #000;
    color: #ddd;
}

#projects {
    justify-content: center;
    overflow: hidden;
}

#projects div {
    position: absolute;
    padding: 0 20px;
    width: 20vw;
    height: 20vw;
    background: #000;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #777;
    opacity: 1;
    transition: visibility 1s, opacity 2s;
}

#projects div:nth-child(3n) {
    margin: 8vh 55vw;
}

#projects div:nth-child(3n+1) {
    margin: 8vh 25vw;
}

#projects div:nth-child(3n+2) {
    margin: 2vh 40vw;
    z-index: 1
}

#projects div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#projects div.hidden {
    visibility: hidden;
    opacity: 0;
}