* {
    user-select: none;
    box-sizing: border-box;
    color: #ddd; !important
}

body,
ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #000;
    list-style: none;
}

#profilePic {
    width: 200px;
    height: 200px;
}

#projects {
    position: relative;
    height: 50vh;
    justify-content: center;
    overflow: hidden;
}

#projects div {
    position: absolute;
    padding: 0 20px;
    width: 20vw;
    height: 20vw;
    background: #000;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #777;
    opacity: 1;
    transition: visibility 1s, opacity 2s;
}

#projects div:nth-child(3n) {
    margin: 8vh 55vw;
}

#projects div:nth-child(3n+1) {
    margin: 8vh 25vw;
}

#projects div:nth-child(3n+2) {
    margin: 2vh 40vw;
    z-index: 1
}

#projects div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#projects div.hidden {
    visibility: hidden;
    opacity: 0;
}

#projects div p {
    font-size: 3vh;
}

#noPhoneSupport {
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #333;
    z-index: 1000;
}

#noPhoneSupport h1 {
    font-size: 4vh;
    margin: 50vh 0;
    padding: 0;
    text-align: center;
    color: red;
}

@media screen and (max-height: 600px) {
    #projects div p {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 800px) {
    #noPhoneSupport {
        visibility: visible;
        height: 200%;
    }
}