* {
    user-select: none;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #000;
    color: #ddd;
}

#projects {
    justify-content: center;
    overflow: hidden;
}

#left,
#right {
    float: left;
    font-size: 48pt;
    margin: 20vh auto;
}

#right {
    float: right;
}

#projects div {
    position: absolute;
    padding: 0 20px;
    width: 20vw;
    height: 20vw;
    background: #000;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#projects div:first-child {
    margin: 2vh 40vw !important;
    box-shadow:4px 4px 4px #777;
    z-index: 1
}

#projects div:nth-child(2n) {
    margin: 8vh 25vw;
}

#projects div:nth-child(2n+1) {
    margin: 8vh 55vw;
}

#projects div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#projects div.hidden {
    display: none;
}